<%- title "Sign up" %>

<section style="background:url('../assets/demo/wall2.jpg')">  
  <div class="display-table">
    <div class="display-table-cell vertical-align-middle">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 col-md-push-7 col-lg-push-8 col-sm-push-7">

            <!-- ALERT -->
            <%= devise_error_messages! %>
            <!--
            <% if notice.present? %>
            <div class="alert alert-mini alert-danger margin-bottom-30"><%= notice %></div>
            <% end %>            
            <% if alert.present? %>
            <div class="alert alert-mini alert-danger margin-bottom-30"><%= alert %></div>
            <% end %>
            <!-- /ALERT -->

            <!-- login form -->
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "sky-form boxed" }) do |f| %>
            <header><i class="fa fa-users"></i> Register</header>

            <fieldset class="nomargin">                     
              <label class="input">
                <i class="ico-append fa fa-envelope"></i>
                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address" %>
                <span class="tooltip tooltip-top-right">Email Address</span>
              </label>

              <label class="input">
                <i class="ico-append fa fa-user"></i>
                <%= f.text_field :fullname, autofocus: true, class: "form-control", placeholder: "Full Name" %>
                <span class="tooltip tooltip-top-right">Full Name</span>
              </label>

              <label class="input">
                <i class="ico-append fa fa-lock"></i>
                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
                <b class="tooltip tooltip-top-right">Type your Password</b>
              </label>

              <label class="input">
                <i class="ico-append fa fa-lock"></i>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %>
                <b class="tooltip tooltip-top-right">Type your Password</b>
              </label>
              <div class="margin-top-20">
                <label class="checkbox nomargin">
                  <input class="checked-agree" type="checkbox" name="checkbox"><i></i>I agree to the <a href="#" data-toggle="modal" data-target="#termsModal">Terms of Service</a>
                </label>
                <label class="checkbox nomargin">
                  <input type="checkbox" name="checkbox"><i></i>I want to receive news and  special offers
                </label>
              </div>
            </fieldset>

            <div class="row margin-bottom-20">
              <div class="col-md-12">
                <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                <i class="fa fa-check"></i> REGISTER</button>
                <% end %>
              </div>
            </div>
            <% end %>
            <!-- /login form -->
          </div>

          <div class="col-xs-12 col-md-7 col-sm-7 col-lg-8 col-lg-pull-4 col-md-pull-5 col-sm-pull-5">
            <h2 class="size-20 text-center-xs">Why Smarty?</h2>
            <p>Lorem ipsum dolor sit amet. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.Lorem ipsum dolor sit amet. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>

            <ul class="list-unstyled login-features">
              <li>
                <i class="glyphicon glyphicon-road"></i> <strong>Lorem ipsum</strong> dolor sit amet.
              </li>
              <li>
                <i class="glyphicon glyphicon-cog"></i> <strong>Sed ut perspiciatis</strong> unde omnis iste.
              </li>
              <li>
                <i class="glyphicon glyphicon-tint"></i> <strong>Et harum quidem</strong> rerum facilis est et expedita distinctio. 
              </li>
              <li>
                <i class="glyphicon glyphicon-screenshot"></i> <strong>Nam libero</strong> tempore, cum soluta nobis.
              </li>
              <li>
                <i class="glyphicon glyphicon-fire"></i> <strong>Est eligendi</strong> voluptatem accusantium.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-header page-header-xs">
  <div class="container">

    <!-- breadcrumbs -->
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="#">Home</a></li>
      <li><a href="#">Pages</a></li>
      <li class="active">Login</li>
    </ol><!-- /breadcrumbs -->

  </div>
</section>