            <ul class="nav nav-tabs nav-top-border">
              <li class="active"><a href="#info" data-toggle="tab">Personal Info</a></li>
              <li><a href="#avatar" data-toggle="tab">Avatar</a></li>
            </ul>

            <div class="tab-content margin-top-20">

              <!-- PERSONAL INFO TAB -->
              <div class="tab-pane fade in active" id="info">
                <%= form_for(@user, :html => { :role => "form" }) do |f| %>
                  <div class="form-group">
                    <label class="control-label">Full Name</label>
                    <%= f.text_field :fullname, class: "form-control", placeholder: "Full name" %>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Email Address</label>
                    <%= f.text_field :email, class: "form-control", placeholder: "Email", disabled: true %>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Address</label>
                    <%= f.text_field :address, class: "form-control", placeholder: "Address" %>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Mobile Number</label>
                    <%= f.text_field :phone, class: "form-control", placeholder: "Phone" %>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Website</label>
                    <%= f.text_field :website, class: "form-control", placeholder: "Website" %>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Biographical</label>
                    <%= f.text_area :biographical, rows: 10, class: "form-control", placeholder: "Biographical" %>
                  </div>
                  
                  <div class="margiv-top10">
                    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                      <i class="fa fa-check"></i> Save Changes
                    <% end %>
                    <%= button_tag(type: 'reset', class: "btn btn-default") do %>
                      <i class="fa fa-undo"></i> Reset
                    <% end %>
                  </div>
                <%end%>
              </div>
              <!-- /PERSONAL INFO TAB -->

              <!-- AVATAR TAB -->
              <div class="tab-pane fade" id="avatar">
                <%= form_for(@user, :html => { :class => "clearfix" }) do |f| %>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="thumbnail">
                          <%= image_tag @user.avatar.thumb_md.url, :class => "img-responsive"%>
                        </div>
                      </div>

                      <div class="col-md-9 col-sm-8">
                        <div class="sky-form nomargin">
                          <label class="label">Select File</label>
                          <label for="file" class="input input-file">
                            <div class="button">
                              <%= f.file_field :avatar, id: "file", onchange:"this.parentNode.nextSibling.value = this.value" %>Browse
                            </div><input type="text" readonly>
                          </label>
                        </div>

                        <a href="#" class="btn btn-danger btn-xs noradius"><i class="fa fa-times"></i> Remove Avatar</a>

                        <div class="clearfix margin-top-20">
                          <span class="label label-warning">NOTE! </span>
                          <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet!
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="margiv-top10">                
                    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                      <i class="fa fa-check"></i> Save Changes
                    <% end %>
                    <%= button_tag(type: 'reset', class: "btn btn-default") do %>
                      <i class="fa fa-undo"></i> Reset
                    <% end %>
                  </div>
                <%end%>
              </div>
              <!-- /AVATAR TAB -->
            </div>