<div id="header" class="sticky clearfix">

	<!-- SEARCH HEADER -->
	<div class="search-box over-header">
		<a id="closeSearch" href="#" class="glyphicon glyphicon-remove"></a>

		<form action="page-search-result-1.html" method="get">
			<input type="text" class="form-control" placeholder="SEARCH" />
		</form>
	</div> 
	<!-- /SEARCH HEADER -->


	<!-- TOP NAV -->
	<header id="topNav">
		<div class="container">

			<!-- Mobile Menu Button -->
			<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
				<i class="fa fa-bars"></i>
			</button>

			<!-- BUTTONS -->
			<ul class="pull-right nav nav-pills nav-second-main">

				<!-- SEARCH -->
				<li class="search">
					<a href="javascript:;">
						<i class="fa fa-search"></i>
					</a>
				</li>
				<!-- /SEARCH -->


				<!-- QUICK SHOP CART -->
				<li class="quick-cart">
					<a href="#">
						<span class="badge badge-aqua btn-xs badge-corner">2</span>
						<i class="fa fa-shopping-cart"></i> 
					</a>
					<div class="quick-cart-box">
						<h4>Shop Cart</h4>

						<div class="quick-cart-wrapper">

							<%= link_to product_path(1), target: "_parent" do %>
								<%= image_tag("demo/people/300x300/4-min.jpg", width: "45", height:"45", alt: "logo")%>
								<h6><span>2x</span> RED BAG WITH HUGE POCKETS</h6>
								<small>$37.21</small>
							<% end %>

							<%= link_to product_path(1), target: "_parent" do %>
								<%= image_tag("demo/people/300x300/5-min.jpg", width: "45", height:"45", alt: "logo")%>
								<h6><span>2x</span> THIS IS A VERY LONG TEXT AND WILL BE TRUNCATED</h6>
								<small>$17.18</small>
							<% end %>

							<!-- cart no items example -->
										<!--
										<a class="text-center" href="#">
											<h6>0 ITEMS ON YOUR CART</h6>
										</a>
									-->

								</div>

								<!-- quick cart footer -->
								<div class="quick-cart-footer clearfix">

									<%= link_to "VIEW CART", cart_path, class: "btn btn-primary btn-xs pull-right", target: "_parent"%>
									<span class="pull-left"><strong>TOTAL:</strong> $54.39</span>
								</div>
								<!-- /quick cart footer -->

							</div>
						</li>
						<!-- /QUICK SHOP CART -->

					</ul>
					<!-- /BUTTONS -->

					<!-- Logo -->
					<%= link_to root_path, class: "logo pull-left", target: "_parent" do%>
						<%= image_tag("logo_dark.png", alt: "logo")%>
					<% end%>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse pull-right nav-main-collapse collapse">
							<nav class="nav-main">

								<!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<ul id="topMain" class="nav nav-pills nav-main">
									<li class="active"><!-- HOME -->
										<%= link_to "HOME", root_path, target: "_parent" %>
									</li>
									<li class="dropdown"><!-- PAGES -->
										<a class="dropdown-toggle" href="#">
											PAGES
										</a>
										<ul class="dropdown-menu">
											<li>
												<%= link_to "LIST PRODUCTS", products_path, target: "_parent" %>
											</li>
											<li>
												<%= link_to "PRODUCT DETAILS", product_path(1), target: "_parent" %>
											</li>
											<li>
												<%= link_to "CART", cart_path, target: "_parent" %>
											</li>
										</ul>
									</li>
									<li class="dropdown mega-menu"><!-- SHORTCODES -->
										<a class="dropdown-toggle" href="#">
											MEGAMENU
										</a>
										<ul class="dropdown-menu">
											<li>
												<div class="row">

													<div class="col-md-5th">
														<ul class="list-unstyled">
															<li><span>MENU TITLE</span></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
														</ul>
													</div>

													<div class="col-md-5th">
														<ul class="list-unstyled">
															<li><span>MENU TITLE</span></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
														</ul>
													</div>

													<div class="col-md-5th">
														<ul class="list-unstyled">
															<li><span>MENU TITLE</span></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
														</ul>
													</div>

													<div class="col-md-5th">
														<ul class="list-unstyled">
															<li><span>MENU TITLE</span></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
														</ul>
													</div>

													<div class="col-md-5th">
														<ul class="list-unstyled">
															<li><span>MENU TITLE</span></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
															<li><a href="#">MENUBIT</a></li>
														</ul>
													</div>

												</div>
											</li>
										</ul>
									</li>
								</ul>

							</nav>
						</div>

					</div>
	</header>
	<!-- /Top Nav -->

</div>