<ul class="shop-item-list row list-inline nomargin">

	<% @products.each do |p|%>
	<!-- ITEM -->
	<li class="col-lg-2 col-sm-4">
		<div class="shop-item">
			<div class="thumbnail noborder nopadding">
				<%= link_to product_path(p), class: "shop-item-image", target: "_parent" do
					image_tag p.thumbnail.thumb_sm.url, :class => "img-responsive", :alt => p.name
				end %>

				<div class="shop-option-over">
					<a class= "btn btn-default" target= "_parent">
						<i class="fa fa-cart-plus size-18"></i>
					</a>
				</div>
			</div>
			<div class="shop-item-summary text-center">
				<h2 class="size-14"><%= p.name %></h2>

				<!-- rating --
				<div class="shop-item-rating-line">
					<div class="rating rating-4 size-11"></div>
				</div>
				-- /rating -->

				<div class="shop-item-price">
					<% unless p.price_current.present? %>
					<%= number_to_currency(p.price)%>
					<% else%>
					<span class="line-through">
						<%= number_to_currency(p.price)%>
					</span>
					<%= number_to_currency(p.price_current)%>
					<% end%>
				</div>
			</div>
		</div>
	</li>
	<!-- /ITEM -->
	<% end %>

</ul>