	<% @products.each do |p|%>
	<!-- item -->
	<div class="shop-item nomargin">
		<div class="thumbnail">
			<%= link_to product_path(p), class: "shop-item-image", target: "_parent" do
				image_tag p.thumbnail.thumb_sm.url, :class => "img-responsive", :alt => p.name
			end %>
		</div>

		<div class="shop-item-summary text-center">
			<h2><%= p.name %></h2>
			<div class="shop-item-rating-line">
				<div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
			</div>
			<div class="shop-item-price">
				<% unless p.price_current.present? %>
				<%= number_to_currency(p.price)%>
				<% else%>
				<span class="line-through">
					<%= number_to_currency(p.price)%>
				</span>
				<%= number_to_currency(p.price_current)%>
				<% end%>
			</div>
		</div>

		<!-- buttons -->
		<div class="shop-item-buttons text-center">
			<%= link_to cart_path, class: "btn btn-default", target: "_parent" do %>
			<i class="fa fa-cart-plus"></i> Add to Cart
			<% end %>
		</div>
		<!-- /buttons -->
	</div>
	<!-- /item -->
	<% end %>
