<%= form_for([:admin, @category], :html => { :role => "form" }) do |f| %>
<div class="row">
	<div class="col-md-8">
		<div id="panel-1" class="panel panel-default">
			<div class="panel-heading">
				<span class="title elipsis">
					<strong>Category</strong> <!-- panel title -->
				</span>

				<!-- right options -->
				<ul class="options pull-right list-inline">
					<li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
				</ul>
				<!-- /right options -->

			</div>

			<!-- panel content -->
			<div class="panel-body">
				<div class="form-group">
					<label class="control-label">Name</label>
					<%= f.text_field :name, class: "form-control", placeholder: "Category Name" %>
				</div>
				<div class="form-group">
					<label>Parent</label>
					<%= f.select :parent_id, Category.all.collect {|c| [ c.name, c.id ] },{ :prompt => "--- Select ---", :selected => f.object.parent_id}, class: "form-control pointer" %>
				</div>

				<div class="form-group">
					<label class="control-label">Description</label>
					<%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description" %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div id="submitdiv" class="panel panel-default">
			<div class="panel-heading">
				<span class="title elipsis">
					<strong>Save</strong> <!-- panel title -->
				</span>

				<!-- right options -->
				<ul class="options pull-right list-inline">
					<li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
				</ul>
				<!-- /right options -->

			</div>

			<!-- panel content -->
			<div class="panel-body">
				<ul class="list-unstyled" style="margin-bottom: 0">
					<% if @category.created_at?%>
					<li class="text-gray">
						<i class="fa fa-calendar"></i> Date Published: <%= @category.created_at.strftime("%B %d %Y, %H:%M:%S")%>
					</li>
					<% end %>
					<% if @category.updated_at?%>
					<li class="text-gray">
						<i class="fa fa-calendar"></i> Last Update: <%= @category.updated_at.strftime("%B %d %Y, %H:%M:%S")%>
					</li>
					<% end %>
				</ul>
			</div>

			<div class="panel-footer">
				<div class="margiv-top10">
					<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
					<i class="fa fa-check"></i> Save Changes
					<% end %>
					<%= button_tag(type: 'reset', class: "btn btn-default") do %>
					<i class="fa fa-undo"></i> Reset
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<%end%>