<div class="list-products table-responsive">
	<table class="table table-bordered table-vertical-middle nomargin">
		<thead>
			<tr>
				<th>Products</th>
				<th>Price</th>
				<th>Ratings</th>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |p|%>
			<tr id="product-<%= p.id%>" class="product-item">
				<td>
					<%= image_tag p.thumbnail.thumb_xs.url, :class => "product-thumb img-responsive"%>
					<div class="product-info">
						<strong><%= p.name%></strong>
						<p><%= p.short_description%></p>
						<div class="product-action">
						<%= link_to edit_admin_product_path(p), class: "btn btn-default btn-xs", target: "_parent"  do%>
							<i class="fa fa-pencil white"></i> Edit
						<% end %>
						<%= link_to admin_product_path(p), method: "DELETE", class: "btn btn-default btn-xs", target: "_parent"  do%>
							<i class="fa fa-trash white"></i> Delete
						<% end %>
						<%= link_to product_path(p), class: "btn btn-default btn-xs", target: "_blank"  do%>
							<i class="fa fa-location-arrow"></i> View
						<% end %>
						</div>
					</div>
				</td>
				<td>
					<% unless p.price_current.present? %>
						<%= number_to_currency(p.price)%>
					<% else%>
						<span class="line-through">
							<%= number_to_currency(p.price)%>
						</span>
						<%= number_to_currency(p.price_current)%>
					<% end%>
				</td>
				<td><div class="rating rating-0 size-13 width-100"></div></td>
			</tr>
			<%end%>
		</tbody>
	</table>
	<%= paginate @products %>
</div>