<%= form_for([:admin, @user], :html => { :role => "form" }) do |f| %>
<div class="row">
	<div class="col-md-8">

		<div id="user-infomation" class="panel panel-default">
			<div class="panel-heading">
				<span class="title elipsis">
					<strong>About me</strong> <!-- panel title -->
				</span>

				<!-- right options -->
				<ul class="options pull-right list-inline">
					<li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
				</ul>
				<!-- /right options -->

			</div>

			<!-- panel content -->
			<div class="panel-body">
				<div class="form-group">
					<label class="control-label">Full Name</label>
					<%= f.text_field :fullname, class: "form-control", placeholder: "Full Name" %>
				</div>
				<div class="form-group">
					<label class="control-label">Phone Number</label>
					<%= f.phone_field :phone, class: "form-control", placeholder: "Phone Number" %>
				</div>
				<div class="form-group">
					<label class="control-label">Address</label>
					<%= f.text_field :address, class: "form-control", placeholder: "Address" %>
				</div>
				<div class="form-group">
					<label class="control-label">Website Address</label>
					<%= f.text_field :website, class: "form-control", placeholder: "Website Address" %>
				</div>
				<div class="form-group">
					<label class="control-label">Biographical</label>
					<%= f.text_area :biographical, rows: 10, class: "form-control", placeholder: "Biographical" %>
				</div>
			</div>
		</div>

		<div id="login-info" class="panel panel-default">
			<div class="panel-heading">
				<span class="title elipsis">
					<strong>Login Information</strong> <!-- panel title -->
				</span>

				<!-- right options -->
				<ul class="options pull-right list-inline">
					<li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
				</ul>
				<!-- /right options -->

			</div>

			<!-- panel content -->
			<div class="panel-body">
				<div class="form-group">
					<label class="control-label">Mail</label>
					<%= f.email_field :email, class: "form-control", placeholder: "Mail Address" %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div id="submitdiv" class="panel panel-default">
			<div class="panel-heading">
				<span class="title elipsis">
					<strong>Save</strong> <!-- panel title -->
				</span>

				<!-- right options -->
				<ul class="options pull-right list-inline">
					<li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
				</ul>
				<!-- /right options -->

			</div>

			<!-- panel content -->
			<div class="panel-body">
				<ul class="list-unstyled" style="margin-bottom: 0">
					<% if @user.created_at?%>
					<li class="text-gray">
						<i class="fa fa-calendar"></i> Date Register: <%= @user.created_at.strftime("%B %d %Y, %H:%M:%S")%>
					</li>
					<% end %>
					<% if @user.updated_at?%>
					<li class="text-gray">
						<i class="fa fa-calendar"></i> Last Update: <%= @user.updated_at.strftime("%B %d %Y, %H:%M:%S")%>
					</li>
					<% end %>
				</ul>
			</div>

			<div class="panel-footer">
				<div class="margiv-top10">
					<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
					<i class="fa fa-check"></i> Save Changes
					<% end %>
					<%= button_tag(type: 'reset', class: "btn btn-default") do %>
					<i class="fa fa-undo"></i> Reset
					<% end %>
				</div>
			</div>
		</div>

		<div id="panel-2" class="panel panel-default">
			<div class="panel-heading">
				<span class="title elipsis">
					<strong>Profile Picture</strong> <!-- panel title -->
				</span>

				<!-- right options -->
				<ul class="options pull-right list-inline">
					<li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
				</ul>
				<!-- /right options -->

			</div>

			<!-- panel content -->
			<div class="panel-body">
				<div class="form-group text-center">
					<%= image_tag @user.avatar.thumb_md.url, :class => "img-responsive"%>
					<br/><br/>

					<div class="fancy-file-upload">
						<i class="fa fa-upload"></i>
						<%= f.file_field :avatar, class: "form-control", "onchange" => "jQuery(this).next('input').val(this.value);"%>
						<input type="text" class="form-control" placeholder="no file selected" readonly="" />
						<span class="button">Choose File</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%end%>