<!-- -->
<section>
	<div class="container">

		<!-- RIGHT -->
		<div class="col-lg-9 col-md-9 col-sm-8 col-lg-push-3 col-md-push-3 col-sm-push-4 margin-bottom-80">
			<%= form_for(@product, :html => { :role => "form" }) do |f| %>
                  <div class="form-group">
                    <label class="control-label">Product Name</label>
                    <%= f.text_field :name, class: "form-control", placeholder: "Product Name" %>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Price</label>
                    <%= f.text_field :price, class: "form-control", placeholder: "Price" %>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Price Current</label>
                    <%= f.text_field :price_current, class: "form-control", placeholder: "Price Current" %>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Short escription</label>
						<div class="fancy-form">
							<%= f.text_area :short_description, rows: 5, class: "form-control word-count", "data-info" => "textarea-words-info", placeholder: "Short Description" %>
							<i class="fa fa-comments"><!-- icon --></i>
							<span class="fancy-hint size-11 text-muted">
								<strong>Hint:</strong> 200 words allowed!
								<span class="pull-right">
									<span id="textarea-words-info">0/200</span> Words
								</span>
							</span>
						</div>
                  </div>

                  <div class="form-group">
                    <label class="control-label">Description</label>
                    <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description" %>
                  </div>
                  
  <script>
      $(function() {
          $('#product_description').froalaEditor()
      });
  </script>

                  <div class="form-group">
                    <label class="control-label">Thumbnail</label>
                    <%= f.file_field :thumbnail, class: "custom-file-upload", "data-btn-text" => "Select a File"%>
					<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>
                  </div>

                  

                  <div class="form-group">
                  	<label class="switch switch">
                  		<%= f.check_box :active %>
                  		<span class="switch-label" data-on="YES" data-off="NO"></span>
                  		<span> In stock?</span>
                  	</label>

                    
                  </div>



                  <div class="margiv-top10">
                    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                      <i class="fa fa-check"></i> Save Changes
                    <% end %>
                    <%= button_tag(type: 'reset', class: "btn btn-default") do %>
                      <i class="fa fa-undo"></i> Reset
                    <% end %>
                  </div>
            <%end%>
		</div>

		
		<!-- LEFT -->
		<div class="col-lg-3 col-md-3 col-sm-4 col-lg-pull-9 col-md-pull-9 col-sm-pull-8">
			<%= render "shared/sidebar" %>
		</div>
		
	</div>
</section>
<!-- / -->